/* Animação para mover os formulários para fora da tela */
.translate-x-full {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

/* Animação para trazer os formulários de volta para a tela */
.-translate-x-full {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.move-right {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.panel-animation {
    transition: transform 0.3s ease-in-out;
}
